<% content_for :title, "New character" %>

<div class="flex border-4">

  <div class="">
    <div class="">
      New character
    </div>
    <div>
      <%= link_to "Back to characters", characters_path %>
    </div>
  </div>

    
    <%= render "form", character: @character %>
    
</div>